<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myblog.mapper.ArticleMapper">

    <resultMap id="baseMap" type="com.example.myblog.model.dao.ArticleDO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="article_cover" jdbcType="VARCHAR" property="articleCover"/>
        <result column="article_title" jdbcType="VARCHAR" property="articleTitle"/>
        <result column="article_content" jdbcType="VARCHAR" property="articleContent"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="original_url" jdbcType="VARCHAR" property="originalUrl"/>
        <result column="is_top" jdbcType="INTEGER" property="isTop"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDeleted"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>

    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, category_id, article_cover, article_title, article_content, type, original_url, is_top, is_delete,
        status, created_time, updated_time
    </sql>
    <sql id="not_deleted">
        AND is_delete = 1
    </sql>

    <insert id="add" parameterType="com.example.myblog.model.dao.ArticleDO">
        INSERT INTO article (<include refid="Base_Column_List"></include>)
        VALUES (#{id, jdbcType=BIGINT},
        #{userId, jdbcType=BIGINT},
        #{categoryId, jdbcType=BIGINT},
        #{articleCover, jdbcType=VARCHAR},
        #{articleTitle, jdbcType=VARCHAR},
        #{articleContent, jdbcType=VARCHAR},
        #{type, jdbcType=TINYINT},
        #{originalUrl, jdbcType=VARCHAR},
        #{isYTp, jdbcType=INTEGER},
        #{isDeleted, jdbcType=INTEGER},
        #{status, jdbcType=INTEGER},
        now(),
        now()
        )

    </insert>
    <update id="update">
        update article
        set user_id = #{articleDO.userId},
            category_id = #{articleDO.categoryId},
            article_cover = #{articleDO.articleCover},
            article_title = #{articleDO.articletitle},
            article_content = #{articleDO.articleContent},
            type = #{articleDO.type},
            original_url = #{articleDO.originalUrl},
            is_top = #{isTop},
            status = #{status},
            updated_time = now()
        where id = #{articleDO.id}
          <include refid="not_deleted"></include>
    </update>
    <select id="listAll"  resultMap="baseMap">
    SELECT <include refid="Base_Column_List"/> FROM
    article
    LIMIT #{currentPage}, #{perPage}
    </select>

</mapper>
